.card-wrapper {
    margin-top: 3vh
}

.max-image-size {
    max-width: 150px;
    max-height: 150px;
}

.text-box {
    height: 100% !important
}

.scrollable-list {
    max-height: 36vh;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .scrollable-list {
        max-height: 28vh;
        overflow-y: auto;
    }
}

.sub-title {
    margin-top: 2vh;
    margin-bottom: 1vh;
}